/* normal / globla css*/

*
{
	margin:0 auto;
	padding:0;
}

body
{
	background-color:lightgray;
}
.row
{
	width:100%;
	height: auto;
	border:1px solid gray;
	display: flex;
	box-sizing: border-box;
}
.row section
{
	flex:1;
	border:1px solid red;
	margin:5px;
	padding:10px;
	animation:tada 2s infinite alternate;
}

.ban
{
	height:500px;
}
.ban section
{
	background-image: url('https://wallpapers.com/images/featured/beautiful-3vau5vtfa3qn7k8v.jpg');
	background-size: 100% 100%;
}

.row section img
{
	width:100%;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: red;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: blue; 
}






/*create media 1200px----------------------*/
@media(max-width:1200px)
{
	body{
		background-color:white;
	}
}



/*create media 900px----------------------*/
@media(max-width:900px)
{
	body{
		background-color:blue;
	}
	.hd1
	{
		display: none;
	}
	.row section
	{
		color:white;
	}
	.row img
	{
		filter: grayscale(100%);
	}
}




/*create media 600px----------------------*/
@media(max-width:600px)
{
	body{
		background-color:green;
	}
	.hd2
	{
		display: none;
	}
	.ban
	{
		height: 300px;
	}

}



/*create media 4px----------------------*/
@media(max-width:400px)
{
	*
	{
		box-sizing: border-box;
	}
	body{
		background-color:black;
	}
	.row img
	{
		filter: none;
	}
	.row
	{
		display: block;
	}
	.ban,.ban section
	{
		height: 250px;
	}
	.hd1,.hd2
	{
		display: block;
	}
	.row section
	{
		border:none;
		background-color:white;
		color:black;
	}
	.row section p
	{
		text-align: justify;
	}
}



@media print{
	@page{
		size: A4 portrait;
	}
	.row
	{
		display: block;
		border:none;
	}
	.hd1,.hd2
	{
		display: block;
	}
	.ban,.ban section
	{
		height:400px;
	}
	.row section
	{
		border:none;
		page-break-after: always;

	}
	body
	{
		background-color: transparent;
	}
	.row p
	{
		font-size:20px;
		color:black;
		text-align: justify;
		border:none;
	}
	.row img
	{
		filter: none;
		border-radius: 20px;
	}


}







